<h1>Members</h1>

<div>
	<p>
		Search: 
		<input ng-model="$ctrl.query" />
	</p>
	
	<p>
		Sort by:
		<select ng-model="$ctrl.orderProp">
			<option value="name">Name</option>
			<option value="university">University</option>
			<option value="age">Age</option>
		</select>
	</p>
</div>

<div>
	<ul class="members">
		<li ng-repeat="member in $ctrl.members | filter: $ctrl.query | orderBy: $ctrl.orderProp" class="thumbnail member-list-item">
			<a href="#!/members/{{member.id}}" class="thumb">
				<img ng-src="{{member.imageUrl}}" alt="{{member.name}}" />
			</a>
			<a href="#!/members/{{member.id}}">{{member.name}}</a>
			<p>{{member.university}}</p>
		</li>
	</ul>
</div>