.col-sm-12 {
	text-align: center;
}

.thumb {
  float: left;
  height: 100px;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  width: 100px;
}

.members li {
  background-color: #deeded;
  clear: both;
  height: 115px;
  padding-top: 15px;
}

.member {
  background-color: orange;
  display: none;
  float: left;
  height: 400px;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 0em;
  width: 400px;
}

.member:first-child {
  display: block;
}

.member-images {
  background-color: white;
  float: left;
  height: 400px;
  overflow: hidden;
  position: relative;
  width: 400px;
}

h2 {
  font: 400 15px Lato, sans-serif;
  font-weight: bold;
  font-size: 350%;
  color: #3366cc;
}

h1.name {
  border-bottom: 1px solid gray;
  font: 400 50px Lato, sans-serif;
}

.member-thumbs {
  list-style: none;
  margin: 0;
}

.member-thumbs img {
  height: 100px;
  padding: 0em;
  width: 100px;
}

.member-thumbs li {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  margin: 1em;
}

.navbar {
  margin-bottom: 0;
  background-color: #deeded;
  z-index: 9999;
  border: 0;
  font: 400 15px Lato, sans-serif;
  font-weight: bold;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: blue !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: blue !important;
    background-color: #fff !important;
}

.jumbotron {
  background-color: #deeded;
  margin: 0;
}

img.logo {
	border-radius: 25px;
  margin-bottom: 25px;
}

.bg-grey {
  background-color: #f6f6f6;
}

strong {
  font: 400 15px Lato, sans-serif;
}

img {
  padding-bottom: 5px;
}

.thumbnail {
  padding-bottom: 0;
}

body {
  font: 400 15px Lato, sans-serif;
}

.memberList {
  margin-right: 50px;
}

.about {
  padding-left: 190px;
  padding-right: 0px;
  padding-top: 25px;
}

.abouth2 {
  padding-left: 190px;
  padding-right: 0px;
}

.abouth3 {
  padding-left: 190px;
  padding-right: 0px;
}

.logo-small {
    color: #3366cc;
    font-size: 50px;
}

.youth {
	padding-top: 25px;
	padding-bottom: 25px;
}

.bg-okf {
	background-color: #deeded;
}

.container-fluid {
	padding: 0px 0px 25px 0px;
}