.col-sm-4 {
	text-align: center;
}

.thumb {
  float: left;
  height: 100px;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  width: 100px;
}

.members li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

.member {
  background-color: white;
  border: 1px solid black;
  float: left;
  height: 400px;
  margin-bottom: 2em;
  margin-right: 3em;
  width: 400px;
}

h1.name {
  border-bottom: 1px solid gray;
}